.calculator {
    display: flex;
    height: 500px;
    width: 400px;
    background-color: blue;
    flex-wrap: wrap;
}

.button,
#equal,
#clear
{
    height:100px;
    width: 100px;
    margin: 0px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 204, 255);
    justify-content: center;
    align-items: center;
}

.display {
    /* display: flex;
    justify-content: end;
    align-items: end; */
    height: 100px;
    width: 300px;
    margin: 0px;
    border: solid;
    border-color: gray;
    background-color: white;
    box-sizing: border-box;

}

.number {

}

.operation {

}
button:hover,
#equal:hover,
#clear:hover {
    background-color: white;
}
/* .highlight {
    background-color: yellow;
}

.unhighlight {
    background-color: ;
} */